<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rubberduck.ServerPlatform.Settings.DatabaseServerConnectionString" connectionString="Data Source=Rubberduck.db;" />
    </connectionStrings>
    <applicationSettings>
        <setting name="DatabaseServerExecutableLocation" serializeAs="String">
            <value>..\..\..\Rubberduck.DatabaseServer\bin\Debug\Rubberduck.DatabaseServer.exe</value>
        </setting>
        <setting name="LanguageServerExecutableLocation" serializeAs="String">
            <value>..\..\..\Rubberduck.LanguageServer\bin\Debug\Rubberduck.LanguageServer.exe</value>
        </setting>
        <setting name="TelemetryServerExecutableLocation" serializeAs="String">
            <value>..\..\..\Rubberduck.TelemetryServer\bin\Debug\Rubberduck.TelemetryServer.exe</value>
        </setting>
        <setting name="UpdateServerExecutableLocation" serializeAs="String">
            <value>..\..\..\Rubberduck.UpdateServer\bin\Debug\Rubberduck.UpdateServer.exe</value>
        </setting>
        <setting name="DatabaseServerPipeName" serializeAs="String">
            <value>./Rubberduck.DatabaseServer/RPC</value>
        </setting>
        <setting name="LanguageServerPipeName" serializeAs="String">
            <value>./Rubberduck.LanguageServer/RPC</value>
        </setting>
        <setting name="TelemetryServerPipeName" serializeAs="String">
            <value>./Rubberduck.TelemetryServer/RPC</value>
        </setting>
        <setting name="UpdateServerPipeName" serializeAs="String">
            <value>./Rubberduck.UpdateServer/RPC</value>
        </setting>
        <setting name="DatabaseServerName" serializeAs="String">
            <value>Rubberduck.Server.Database</value>
        </setting>
        <setting name="LanguageServerName" serializeAs="String">
            <value>Rubberduck.Server.Language</value>
        </setting>
        <setting name="TelemetryServerName" serializeAs="String">
            <value>Rubberduck.Server.Telemetry</value>
        </setting>
    </applicationSettings>
</configuration>