<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.9.1" targetFramework="net48" />
  <package id="Dapper" version="2.0.123" targetFramework="net48" />
  <package id="IsExternalInit" version="1.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="MediatR" version="12.0.0" targetFramework="net48" />
  <package id="MediatR.Contracts" version="2.0.0" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="2.4.59" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.3.4" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Data.Sqlite" version="7.0.3" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="7.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="7.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="17.4.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="17.5.22" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.5.22" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="17.0.65" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Nerdbank.Streams" version="2.9.112" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="NLog" version="5.1.2" targetFramework="net48" />
  <package id="OmniSharp.Extensions.JsonRpc" version="0.19.7" targetFramework="net48" />
  <package id="OmniSharp.Extensions.JsonRpc.Generators" version="0.19.7" targetFramework="net48" />
  <package id="OmniSharp.Extensions.LanguageClient" version="0.19.7" targetFramework="net48" />
  <package id="OmniSharp.Extensions.LanguageProtocol" version="0.19.7" targetFramework="net48" />
  <package id="OmniSharp.Extensions.LanguageServer" version="0.19.7" targetFramework="net48" />
  <package id="OmniSharp.Extensions.LanguageServer.Shared" version="0.19.7" targetFramework="net48" />
  <package id="SQLite" version="3.13.0" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.1.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>