<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.IO.Abstractions" version="19.1.5" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions" version="19.1.5" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="19.1.5" targetFramework="net48" />
</packages>