<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AustinHarris.JsonRpc" version="1.2.3" targetFramework="net48" />
  <package id="Grpc.Core" version="2.46.5" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.50.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="7.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NLog" version="5.1.0" targetFramework="net48" />
  <package id="protobuf-net" version="3.1.26" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.1.26" targetFramework="net48" />
  <package id="protobuf-net.Grpc" version="1.0.179" targetFramework="net48" />
  <package id="protobuf-net.Grpc.Native" version="1.0.179" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.1.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>